*{
	margin:0px;
    padding:0px;
}
html,body {
	height: 80%;
}
.topnav {
    background-color: rgba(255, 255, 255, 0.69);
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
    width: 100%;

}

.topnav a {
	float: right;
	color: #000000;
	text-decoration: none;
	margin-right: 45px;
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
	font-family: helvetica;
	letter-spacing: 1.6px;
}

.topnav a:hover {
	letter-spacing: 3.3px;
}

.containerdiv {
	height: auto;
	}





.subpage {
	background-image: url(../IMG/marblewhite.jpg);
	background-size: cover;
	background-repeat: repeat;
	min-height: 100%;
	min-width: 100%;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 200px;
	text-align: center;
	font-family: helvetica;
}

.subpage>div>a {
	text-decoration: none;
	color: #000000;
	font-weight: lighter;
	font-size: 50px;
	letter-spacing: 2px;
	line-height: 75px;
}

#projlink a:hover {
	border-bottom: 3px solid black;
}

.subpage>.about>h1 {
	font-size: 50px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.about {
	margin-left: 20%;
	margin-right: 20%;
	letter-spacing: 1px;
	line-height: 20px;
}

.about>img {
	height: 200px;
	width: 200px;
}

.footer {
	text-align: center;
	padding-top: 10px;
	height: 10px;
}

.fa {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    background: #a6a6a6;
    color: #FFFFFF;
}
